* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #f1f1f1;
}

.carousel {
    border: 10px solid #8b4513;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 350px;
    padding: 10px;

    position: relative;
}

@media screen and (min-width: 400px) {
    .carousel {
        min-width: 400px;
    }
}

@media screen and (min-width: 600px) {
    .carousel {
        min-width: 600px;
    }
}

.header-section {
    margin-bottom: 30px;
}

.header {
    color: #9b111e;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0px;
    position: relative;

    margin-bottom: 20px;
}

.header::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: -5px;
    left: calc(100% / 2);
    transform: translate(-50%);
    background: #9b111e;
}

.hover-btn {
    border: 2px solid lightskyblue;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.3s linear;
    margin: 10px auto;
    margin-top: 20px;

    /* display: none; */
}

.hover-btn:hover {
    background-color: lightskyblue;
    color: white;
}

.hover-btn:active {
    background-color: white;
    color: black;
}

.toggle-text {
    margin: 0px;
    font-family: 'Pacifico', cursive;
    color: #9b111e;
    font-size: 1.2rem;

    /* display: none; */
}

@media screen and (min-width: 400px) {

    .header {
        margin-bottom: 0;
    }

    .hover-btn {
        display: block;
    }

    .toggle-text {
        display: inline-block;
    }
}

.carousel-container {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;

    position: relative; 
}

.track-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    height: 230px;
    width: 230px;

    display: none;
    transition: all 0.8s linear;
}

@media screen and (min-width: 400px) {
    .carousel-container {
        width: 300px;
        height: 300px;
    }

    .slide {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 600px) {
    .carousel-container {
        width: 350px;
        height: 350px;
    }

    .slide {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 740px) {
    .carousel-container {
        width: 400px;
        height: 400px;
    }

    .slide {
        width: 400px;
        height: 400px;
    }
}

.slide.active {
    display: block;
    z-index: 2;

    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.slide.hoverable.left {
    transform: perspective(70em) rotateY(40deg);
    -webkit-transform: perspective(70em) rotateY(40deg);
    -moz-transform: perspective(70em) rotateY(40deg);
    -o-transform: perspective(70em) rotateY(40deg);
    -ms-transform: perspective(70em) rotateY(40deg);

    transform-style: preserve-3d;

}

.slide.hoverable.right {
    transform: perspective(70em) rotateY(-40deg);
    -webkit-transform: perspective(70em) rotateY(-40deg);
    -moz-transform: perspective(70em) rotateY(-40deg);
    -o-transform: perspective(70em) rotateY(-40deg);
    -ms-transform: perspective(70em) rotateY(-40deg);

    transform-style: preserve-3d;

}

.prev-slide {
    transform: perspective(70em) rotateY(40deg) translateX(-105%) ;
    -webkit-transform: perspective(70em) rotateY(40deg) translateX(-105%);
    -moz-transform: perspective(70em) rotateY(40deg) translateX(-105%);
    -o-transform: perspective(70em) rotateY(40deg) translateX(-105%);
    -ms-transform:perspective(70em) rotateY(40deg) translateX(-105%);
    scale: 0.5;
    display: block;

    z-index: 1;

    transform-style: preserve-3d;
}

.prev-slide::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    animation: fadeIn 1s;    
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.next-slide {
    transform: perspective(70em) rotateY(-40deg) translateX(105%);
    -webkit-transform: perspective(70em) rotateY(-40deg) translateX(105%);
    -moz-transform: perspective(70em) rotateY(-40deg) translateX(105%);
    -o-transform: perspective(70em) rotateY(-40deg) translateX(105%);
    -ms-transform:perspective(70em) rotateY(-40deg) translateX(105%);
    scale: 0.5;
    display: block;

    transform-style: preserve-3d;
}

.next-slide::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    animation: fadeIn 1s;    
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

    position: relative;
}

.img-text {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    display: none;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}



.img-text::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    background: rgba(0,0,0,0.8);
    bottom: -5px;
    left: 5px;
}

@media screen and (min-width: 600px) {
    .img-text {
        font-size: 1.4rem;
        padding: 10px;
    }

    .img-text::after {
        height: 5px;
        left: 10px;
        bottom: -8px;
    }
}

.img-text.active-text {
    display: inline;
    animation: fadeIn 1s;    
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.btn-left,
.btn-right {
    font-size: 2rem;
    border: none;
    background: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.btn-left {
    left: -35px;
}

.btn-right {
    right: -35px;
}